body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #777;
}

a {
	color: #00BCD4;
}

/* ------------- NAV STYLES ------------- */
.navbar {
	min-height: 80px;
	padding: 15px;
}

.navbar-brand {
	height: auto;
	padding: 0px;
	margin: 0px;
}

.navbar-brand > img {
	height: 70px;
}

.navbar-brand-title {
	float: left;
	padding: 10px 0 0 10px;
	font-size: 34px;
	color: #00BCD4;
}

.navbar-toggle .icon-bar {
	background-color: #00BCD4;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
	color: #0097A7;
	outline: none;
}

/* ------------- RESPONSIVE NAV STYLES ------------- */

.navbar-toggle:active, .navbar-toggle:focus {
	background-color: #ececec;
}

/* ------------- FOOTER STYLES ------------- */

footer {
	padding: 15px;
}

/* ------------- PIE GRAPH STYLES ------------- */

#piediv {
	height: 400px;
	width: 100%;
}

/* ------------- CHART GRAPH STYLES ------------- */

#chartdiv {
	height: 400px;
	width: 100%;
}

/* ------------- FORM STYLES ------------- */

.form-col {
	padding: 15px;
}

.toggle-buttons {
	text-align: right;
}

.btn-primary {
	color: #00BCD4;
	background-color: #FFF;
	border-color: #0097A7;
}

.btn-submit, .btn-primary.active, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active:hover {
	background-color: #00BCD4;
	border-color: #0097A7;
	color: #FFF;
}

.btn-submit:hover,
.btn-submit:focus {
	background-color: #0097A7;
	color: #FFF;
	outline: none;
}
