body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #777;
}

a {
	color: #00BCD4;
}

/* ------------- NAV STYLES ------------- */
.navbar {
	min-height: 80px;
	padding: 15px;
}

.navbar-brand {
	height: auto;
	padding: 0px;
	margin: 0px;
}

.navbar-brand > img {
	height: 70px;
}

.navbar-brand-title {
	float: left;
	padding: 10px 0 0 10px;
	font-size: 34px;
	color: #00BCD4;
}

.navbar-toggle .icon-bar {
	background-color: #00BCD4;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
	color: #0097A7;
	outline: none;
}

/* ------------- RESPONSIVE NAV STYLES ------------- */

.navbar-toggle:active, .navbar-toggle:focus {
	background-color: #ececec;
}

/* ------------- FOOTER STYLES ------------- */

footer {
	padding: 15px;
}

/* ------------- PIE GRAPH STYLES ------------- */

#piediv {
	height: 400px;
	width: 100%;
}

/* ------------- CHART GRAPH STYLES ------------- */

#chartdiv {
	height: 400px;
	width: 100%;
}
